body {
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../imgs/Pipa1.jpg");
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 50px; /* Adiciona espaço para o rodapé não sobrepor o conteúdo */
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%; /* Usado com um max-width para responsividade */
    max-width: 400px; /* Limita o tamanho */
}

header {
    margin-bottom: 20px;
}

.logo {
    width: 100px;
}

h1 {
    font-size: 20px;
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column; /* Empilha os elementos */
    gap: 15px; /* Adiciona espaçamento entre os campos */
}

.form-group {
    display: flex;
    flex-direction: column; /* Empilha os campos dentro do grupo */
    gap: 10px; /* Espaçamento entre os campos no grupo */
}

.form-group input[type="checkbox"] {
    margin-right: 10px;
}

.form-group label a {
    color: #007BFF;
    text-decoration: none;
}

.form-group label a:hover {
    text-decoration: underline;
}

.input {
    width: 100%; /* Campos ocupam toda a largura do container pai */
    padding: 12px; /* Aumenta o padding para maior conforto */
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Garante que padding e borda não extrapolem o tamanho */
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px; /* Aumenta o padding do botão para um visual mais confortável */
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0.8rem; 
    color: #080808;
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}



@media (max-width: 768px) {
    body {
        padding: 20px 10px; 
    }

    .container {
        width: 100%; 
        max-width: 100%; 
        padding: 15px; 
    }

    h1 {
        font-size: 18px; 
    }

    .input {
        padding: 10px; 
        font-size: 14px; 
    }

    .btn {
        padding: 10px; 
        font-size: 14px; 
    }

    footer {
        font-size: 0.75rem; 
    }
}