body{
    margin: 0;
    font-size: 5em;
    background-image: url("../imgs/bg.jpg");
  
  }

  #preloader {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(255, 255, 255, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
  
  .banner {
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  .banner::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('../imgs/madeiro.jpg');
    background-size: cover;
    background-position: center;
    animation: bgZoomIn 4s ease-in-out 1 forwards;
    z-index: -1;
    pointer-events: none;
  }
  .banner::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('../imgs/after.png');
    background-size: cover;
    background-position: top;
    transform: scale(2);
    animation: bgZoomOut 4s ease-in-out 1 forwards;
    z-index: -1;
    pointer-events: none;
  }

  .title svg {
    
    width: 800px;
    height: 200px;
    max-width: 100%;
}
  @keyframes bgZoomIn {
    from {
      transform: scale(1.2);
    } to {
      transform: scale(1);
    }
  }
  @keyframes bgZoomOut {
    from {
      transform: scale(1);
    } to {
      transform: scale(2);
    }
  }
  
  svg path {
    fill: transparent;
    stroke: #fff;
    stroke-width: 0.1;
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    animation: textAnimation 2s ease-in-out 1 forwards;
  }
  @keyframes textAnimation {
    0% {
      stroke-dashoffset: 50;
    }
    80% {
      fill: transparent;
    }
    100% {
      fill: #fff;
      stroke-dashoffset: 0;
    }
  }
  
  .enter-link{
    text-decoration: none;
  }
  
  button {
    background: none;
    border: 2px solid #fff;
    color: #fff;
    display: flex;
    align-items: center;
    margin-left: 340px;
    width: 100px;
    justify-content: center; 
    height: 40px;
    text-decoration: none; 
    
  }
  
  button:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.1);
   
  }
/* tela pequena */
@media screen and (max-width: 768px) {
    .title {
        width: 80%;
        max-width: 300px;
        margin: 0 auto;
    }
    
    .title svg {
        max-width: 300pt !important; /* Ajusta o tamanho máximo em telas pequenas */
        transform: scale(0.7); /* Ajusta a escala para telas menores */
        display:flex;
        margin-left: -40px;
    }
    
    button {
        margin-left: 0 !important;
        margin: 20px auto !important;
        display: block !important;
    }
}

/* Tablets */
@media screen and (min-width: 769px) and (max-width: 1075px) {
    .title {
        width: 90%;
        max-width: 400px;
        margin: 0 auto;
    }
    
    .title svg {
        width: 100% !important;
        max-width: 400pt !important;
    }
    
    button {
        margin-left: 127px !important;
    }
}