<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Exclusão</title>
    <link rel="shortcut icon" href="{% static 'imgs/logo.png' %}" type="image/x-icon">
</head>
<body>
    <h1>Tem certeza que deseja excluir a casa "{{ casa.nome }}"?</h1>
    <p>Esta ação não poderá ser desfeita.</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit">Sim, excluir</button>
        <a href="{% url 'reservas' %}">Cancelar</a>
    </form>
</body>
</html>
