<!DOCTYPE html>
{%load static%}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Exclusão</title>
    <link rel="shortcut icon" href="{% static 'imgs/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/confirmar_exclusao.css' %}">
</head>
<body>
    <h1>Tem certeza que deseja excluir a casa "{{ casa.nome }}"?</h1>
    <p>Esta ação não poderá ser desfeita.</p>

    <form method="POST">
        {% csrf_token %}
        <div class ="botoes">
            <button type="submit" class="profile-link btn-edit" >Sim, excluir</button>
            <a href="{% url 'home' %}" class="profile-link btn-edit ">Cancelar</a>
        </div>
    </form>
</body>
</html>
