{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ casa.nome }}</title>
    <link rel="stylesheet" href="{% static 'css/detalhes.css' %}">
    <link rel="shortcut icon" href="{% static 'imgs/logo-circulo.png' %}" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.min.css" rel="stylesheet">
</head>
<body>
    <div class ="voltar">
         <a href="{% url 'home' %}" class="profile-link btn-edit">Voltar</a>
    </div>
    <div class="house-container">
        <h1>{{ casa.nome }}</h1>
        
        <div class="gallery">
            <div class="gallery-row">
                {% for imagem in casa.imagens_adicionais.all|slice:":3" %}
                    <a href="{{ imagem.imagem.url }}" data-lightbox="galeria" data-title="Imagem da Casa">
                        <img src="{{ imagem.imagem.url }}" class="card-img-top" alt="Imagem da Casa">
                    </a>
                {% empty %}
                    <p>Não há imagens disponíveis.</p>
                {% endfor %}
            </div>
            <div class="gallery-row">
                {% for imagem in casa.imagens_adicionais.all|slice:"3:6" %}
                    <a href="{{ imagem.imagem.url }}" data-lightbox="galeria" data-title="Imagem da Casa">
                        <img src="{{ imagem.imagem.url }}" class="card-img-top" alt="Imagem da Casa">
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="details">
           
            {% if user.is_authenticated and user == casa.owner %}
            <a href="{% url 'editar' casa.id %}" class="profile-link btn-edit">Editar</a>
            <a href="{% url 'excluir_casa' casa.id %}" class="profile-link btn-edit">Excluir</a>
            {% endif %}
        </div>

        <div class="description">
            <p><strong>Ocupação máxima:</strong>{{ casa.capacidade_máxima }} pessoas</p>
            <h2>Descrição</h2>
            <p>{{ casa.descricao }}</p>
            <h3> Detalhes  e comodidades do Imóvel </h3>
            <div class="caracteristicas-imovel">
                <p><strong>Características:</strong> 
                   {{ casa.numero_quartos }} quarto(s), 
                   {{ casa.numero_banheiros }} banheiro(s)
                   {% if casa.numero_suites > 0 %}, {{ casa.numero_suites }} suíte(s){% endif %}
                   {% if casa.numero_vagas_garagem > 0 %}, {{ casa.numero_vagas_garagem }} vaga(s) de garagem{% endif %}
                </p>
                
                <p><strong>Comodidades:</strong>
                   {% if casa.mobiliado %}Mobiliado, {% endif %}
                   {% if casa.aceita_pets %}Aceita pets, {% endif %}
                   {% if casa.ar_condicionado %}Ar-condicionado, {% endif %}
                   {% if casa.piscina %}Piscina, {% endif %}
                   {% if casa.area_de_lazer %}Área de lazer, {% endif %}
                   {% if casa.churrasqueira %}Churrasqueira, {% endif %}
                   {% if casa.wifi_incluido %}Wi-Fi incluído{% endif %}
                </p>
                
                {% if casa.energia_inclusa or casa.agua_inclusa %}
                <p><strong>Incluso no aluguel:</strong>
                   {% if casa.energia_inclusa %}Energia elétrica, {% endif %}
                   {% if casa.agua_inclusa %}Água{% endif %}
                </p>
                {% else %}
                    <p>**Nem agua e nem energia são inclusos no aluguel</p>
                {% endif %}
            </div>
                     
        </div>
    </div>  
    <script src="{% static 'js/detalhes.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox.min.js"></script>
</body>
</html>
