{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casas em Pipa</title>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'imgs/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>

     <header class="header">
        <img src="{% static 'imgs/logo.png' %}" alt="Logo Casas em Pipa" class="logo">
        <div class="search-container">
            
        </div>

        <div class="user-info">
            {% if user.is_authenticated %}
            <span>Oi, {{ user.first_name}}</span>
            <a href="{% url 'perfil' %}" class="profile-link">Perfil</a>
            <a href="{% url 'logout' %}" class="button">Sair</a>
            {%else%}
            <a href="{% url 'login' %}" class="button">Login</a>
            <a href="{% url 'register' %}" class="button">Cadastre-se</a>
            {%endif%}
        </div>
     </header>

     <nav class="navigation">
        {% if user.is_authenticated %}
            <a href="{% url 'rental' %}" class="profile-link">
                <button type="button" class="btn btn-primary">Alugue sua Casa</button>
            </a>
        {% endif %}
        {% if user.is_authenticated and user == casa.owner %}
            <a href="{% url 'editar_casa' casa.id %}" class="profile-link">Editar Casa</a>
        {% endif %}
    </nav>
    
    <main>
        <div class="lexend-giga-header">
            <h1>Conheça o litoral mais lindo do RN</h1>
        </div>
    
        {% if erro %}
             <p>{{ erro }}</p>
        {% endif %}

        <div class="houses">
            {% for casa in casas %}
                <div class="house">
                    <div class="card">
                        {% if casa.imagem_principal %}
                            <img src="{{ casa.imagem_principal.url }}" class="card-img-top" alt="Imagem da Casa">
                        {% else %}
                            <p>Imagem não disponível</p>
                        {% endif %}
                        
                        <div class="card-body">
                            <h1 class="card-nome">{{ casa.nome }}</h1>
                            <p class="card-text">{{ casa.preco }}</p>
                            <p class="card-text">{{ casa.endereco }}</p>
                            <p class="card-text">{{ casa.tipo }}</p>
                            <p class="card-text">Capacidade máxima: {{ casa.capacidade_maxima }} Pessoas</p>
                            <a href="https://wa.me/{{ casa.contato|default:'' }}" target="_blank" class="btn btn-success">
                                <i class="fab fa-whatsapp"></i> Entrar em contato via WhatsApp
                            </a>
                            <a href="{% url 'detalhes' casa.id %}" class="profile-link btn-edit">Ver mais</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>Não há casas disponíveis no momento.</p>
            {% endfor %}
        </div>
    </main>
    <footer class="footer">
        <div class="footer-content">
            <div class="nome-footer">CasasInPipa</div>
            
        </div>
        <div class="foto">
            <img src="{% static 'imgs/logo.png' %}" alt="Logo Casas em Pipa" class="logo">
 
        </div>
        <div class="links">
            <a href="#">Home</a>
            <a href="#">Sobre nós</a>
            <a href="#">Contate-nos</a>
            <a href="#">Politica e Privacidade </a>
            
        </div>
        <p class="copyright">Copyright 2025. Todos os direitos reservados.</p>
    </footer>
 
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</body>
</html>
