{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CasasEmpipa</title>
    <link rel="shortcut icon" href="{% static 'imgs/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/rental.css' %}">
</head>
<body>

    
    <header class="header">
        <img src="{% static 'imgs/logo.png' %}" alt="Logo Casas em Pipa" class="logo">
        <div class="user-info">
            <span>Oi, usuário</span>
            <a href="#" class="profile-link">Perfil</a>
        </div>
    </header>

    <botoes class="botoes">
        <a href="{% url 'home' %}" class="profile-link">
            <button type="button" class="btn btn-primary"> Voltar</button>
        </a>
    </botoes>


    <main>
        <form action="{% url 'rental' %}" method="post" class="form-cadastro" enctype="multipart/form-data">
            {% csrf_token %}
            {{ casa_form.as_p }}
        
            <!-- Campo para múltiplas imagens adicionais -->
            <label for="imagens_adicionais">Fotos Adicionais:</label>
            <input type="file" id="imagens_adicionais" name="imagens_adicionais" multiple>
        
            <button type="submit">Cadastrar Casa</button>
        </form>
   
</body>
</html>
