{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casas em Pipa</title>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'imgs/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>

     <header class="header">
        <img src="{% static 'imgs/logo.png' %}" alt="Logo Casas em Pipa" class="logo">
        <div class="search-container">
            <input type="text" name="checkin" id="checkin" placeholder="Check-in">
            <input type="text" name="checkout" id="checkout" placeholder="Check-out">
            <input type="number" name="hospedes" id="hospedes" placeholder="Qt. Hóspedes" min="1">
            <button class="search-btn" type="submit">🔍</button>
      
        </div>
         
        

        <div class="user-info">
            {% if user.is_authenticated %}
            <span>Oi, {{ user.username}}</span>
            <a href="#" class="profile-link">Perfil</a>
            <a href="{% url 'logout' %}" class="button">Sair</a>
            {%else%}

            <a href="{% url 'login' %}" class="button">Login</a>
            <a href="{% url 'register' %}" class="button">Cadastre-se</a>

            
            {%endif%}
        </div>
     </header>

     <nav class="navigation">
        {% if user.is_authenticated %}
            <a href="{% url 'rental' %}" class="profile-link">Pretendo hospedar</a>
        {% endif %}
        {% if user.is_authenticated and user == casa.owner %}
            <a href="{% url 'editar_casa' casa.id %}" class="profile-link">Editar Casa</a>
        {% endif %}
    </nav>
    
   
    
    
    <div class='botao-filtro'>
        <button class="filter-btn" id="filter-btn">Filtro</button>
    </div>

    <main>
        <div class="lexend-giga-header">
            <h1>Conheça o litoral mais lindo do RN</h1>

        </div>
       

        <div class="sidebar" id="sidebar">
            <h3>Filtros</h3>
            <form action="#" method="POST">
                {% csrf_token %}
                
                <label for="rooms">Número de quartos</label>
                <input type="number" id="rooms" name="rooms" min="1" max="10">
                
                <label for="type">Tipo de casa</label>
                <select id="type" name="type">
                    <option value="casa">Casa</option>
                    <option value="apartamento">Apartamento</option>
                    <option value="sitio">Chalé</option>
                    <option value="vista_mar">Vista mar</option>
                </select>
                
                <button type="submit" class="search-btn">Aplicar Filtro</button>
            </form>
            
        </div>
        
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'imgs/jeep.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'imgs/Pipa-RN.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'imgs/placa.webp' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'imgs/si.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'imgs/preserve.webp' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'imgs/madero.jpg' %}" class="d-block w-100" alt="...">
                </div>
                
            </div>
          </div>

          {% if erro %}
             <p>{{ erro }}</p>
          {% endif %}
      

          {% if casas %}
          {% for casa in casas %}
              <div class="houses">
                  <div class="house">
                      <div class="card">
                          {% if casa.imagem_principal %}
                              <img src="{{ casa.imagem_principal.url }}" class="card-img-top" alt="Imagem da Casa">
                          {% else %}
                              <p>Imagem não disponível</p>
                          {% endif %}
                          
                          <div class="card-body">
                              <h1 class="card-text">{{ casa.nome }}</h1>
                              <p class="card-text">{{ casa.descricao }}</p>
                              <p class="card-text">{{ casa.preco_diaria }}</p>
                              <p class="card-text">{{ casa.endereco }}</p>
                              <p class="card-text">{{ casa.tipo }}</p>
                              <p class="card-text">Capacidade máxima: {{ casa.capacidade_maxima }} hóspedes</p>
                              <p class="card-text">Disponível de {{ casa.disponivel_de }} até {{ casa.disponivel_ate }}</p>
                       
                              {% if user.is_authenticated and user == casa.owner %}
                                  <a href="{% url 'editar' casa.id %}" class="profile-link btn-edit">Editar Casa</a>
                              {% endif %}
                              {% if user.is_authenticated and user == casa.owner %}
                                  <a href="{% url 'excluir_casa' casa.id %}" class="profile-link btn-edit">Excluir Casa</a>
                              {% endif %}
                          </div>
                      </div>
                  </div>
              </div>
          {% empty %}
              <p>Não há casas disponíveis para as datas e quantidade de hóspedes selecionados.</p>
          {% endfor %}
      {% else %}
          <p>Não há casas cadastradas no momento.</p>
      {% endif %}
    </main>

    <footer>
        <p>@Copyright 2025</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{% static 'js/script.js' %}"></script>

    
</body>
</html>
