{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casas em Pipa</title>
    <link rel="shortcut icon" href="{% static 'imgs/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>

     <header class="header">
        <img src="{% static 'imgs/logo.png' %}" alt="Logo Casas em Pipa" class="logo">
        <div class="search-container">
            <input type="text" id="checkin" placeholder="Check-in">
            <input type="text" id="checkout" placeholder="Check-out">
            <input type="number" id="guests" placeholder="Qt. Hóspedes" min="1">
            <button class="search-btn">🔍</button>
        </div>
        <div class="user-info">
            <span>Oi, fulano</span>
            <a href="#" class="profile-link">Perfil</a>
        </div>
     </header>

    <nav class="navigation">
        

        <button class="filter-btn" id="filter-btn">Filtro</button>
        
        <button class="filter-btn" id="filter-btn">Pretendo hospedar</button>
        
    </nav>
    
    <main>
        <h1>Conheça o litoral mais lindo do RN</h1>

        <div class="sidebar" id="sidebar">
            <h3>Filtros</h3>
            <form action="#">
                
                
                <label for="rooms">Número de quartos</label>
                <input type="number" id="rooms" min="1" max="10">
                
                <label for="type">Tipo de casa</label>
                <select id="type">
                    <option value="casa">Casa</option>
                    <option value="apartamento">Apartamento</option>
                    <option value="sítio">Chalé</option>
                    <option value="sítio">Vista mar</option>

                </select>
                
                <button type="submit" class="search-btn">Aplicar Filtro</button>
            </form>
        </div>

        <div class="houses">
            <div class="house">
                <div class="card">
                    <img src="{% static 'imgs/logo.png' %}" class="card-img-top" alt="Imagem da Casa">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </main>

    <footer>
        <p>Copyright 2024</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{% static 'js/script.js' %}"></script>

    
</body>
</html>
