{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casas em Pipa - Cadastro</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="shortcut icon" href="{% static 'imgs/logo.png' %}" type="image/x-icon">
</head>
<body>
    {% if messages%}
        <ul>
            {%for message in messages%}
                <li class="alert alert -{{message.tags}}">{{message}}</li>
            {%endfor%}
        <ul>
    {%endif%}

    <div class="container">
        <header>
            <img src="{% static 'imgs/logo.png' %}" alt="Logo Casas em Pipa" class="logo">
            <h1>Casas em Pipa</h1>
        </header>
        <form method="POST" action="{% url 'register' %}"> 
            {% csrf_token %}
           
            <div class="form-group">
                <input type="text" name="nome" placeholder="Nome" class="input">
                <input type="text" name="sobrenome" placeholder="Sobrenome" class="input">
            </div>
            <div class="form-group">
                <input type="email" name="email" placeholder="Email" class="input">
                <input type="tel" name="telefone" placeholder="Telefone" class="input">
            </div>
            <div class="form-group">
                <input type="password" name="senha" placeholder="Senha" class="input">
               
            </div>
            <div class="form-group">
                <input type="password" name="confirme_senha" placeholder="Confirme sua senha" class="input">
                <input type="date" name="data_nascimento" placeholder="Data de Nasc." class="input">
            </div>
            <div class="form-group">
                <input type="checkbox" id="termos" name="termos" required>
                <label for="termos">Eu aceito os <a href="{% url 'termos_de_uso' %}" target="_blank">termos de uso</a>.</label>
            </div>
            <button type="submit" class="btn">Cadastrar</button>
        </form>
       
    </div>
</body>
</html>