{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuário</title>
    <link rel="stylesheet" href="{% static 'css/user_form.css' %}">
</head>
<body>
    <header class="header">
        <h1>Editar Usuário</h1>
        <nav>
            <a href="{% url 'admin_users_list' %}" class="button">Voltar à Lista</a>
        </nav>
    </header>

    <main class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Salvar</button>
        </form>
    </main>
</body>
</html>