{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Exclusão</title>
    <link rel="stylesheet" href="{% static 'css/casa_c_confirm.css' %}">
</head>
<body>
    <header class="header">
        <h1>Confirmar Exclusão</h1>
        <nav>
            <a href="{% url 'admin_users_list' %}" class="button">Voltar à Lista</a>
        </nav>
    </header>

    <main class="container">
        <h2>Tem certeza que deseja excluir o usuário "{{ user.email }}"?</h2>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="button button-danger">Sim, Excluir</button>
            <a href="{% url 'admin_users_list' %}" class="button">Cancelar</a>
        </form>
    </main>
</body>
</html>